.video{
    display: flex;
    margin-bottom: 25px;
    &__thumb{
        max-width: 136px;
    }
    &__desc{
        margin-left: 15px;
        font-size: 10px;
    }
}

@media (max-width: 575.98px) {
    .video{
        margin-top: 15px;
    }
}